<div class="label">
  <h3 class= "container">Angel Investing</h1>
</div>
<section class="container group under">
  <div class="grid_12">
    <table class="table table-hover sortable">
      <caption>LTM Angel Funding</caption>
      <thead>
        <tr>
          <th>Quarter</th>
          <th>Amount*</th>
          <th>Volume</th>
          <th>Avg. Investment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Q2 2013</td>
          <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year, 'q2').multiple_funding_codes('angel', 'seed').sum('funding_amount')) %></td>
          <td> <%= Funding.quarterly_fundings(Time.now().year, 'q2').multiple_funding_codes('angel', 'seed').count %></td>
          <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year, 'q2').multiple_funding_codes('angel', 'seed').average('funding_amount')) %></td>
        </tr>
        <tr>
          <td>Q1 2013</td>
          <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year, 'q1').multiple_funding_codes('angel', 'seed').sum('funding_amount')) %></td>
          <td> <%= Funding.quarterly_fundings(Time.now().year, 'q1').multiple_funding_codes('angel', 'seed').count %></td>
          <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year, 'q1').multiple_funding_codes('angel', 'seed').average('funding_amount')) %></td>
        </tr>
        <tr>
          <td>Q4 2012</td>
          <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year - 1, 'q4').multiple_funding_codes('angel', 'seed').sum('funding_amount')) %></td>
          <td> <%= Funding.quarterly_fundings(Time.now().year - 1, 'q4').multiple_funding_codes('angel', 'seed').count %></td>
          <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year - 1, 'q4').multiple_funding_codes('angel', 'seed').average('funding_amount')) %></td>
        </tr>
        <tr>
          <td>Q3 2012</td>
          <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year - 1, 'q3').multiple_funding_codes('angel', 'seed').sum('funding_amount')) %></td>
          <td> <%= Funding.quarterly_fundings(Time.now().year - 1, 'q3').multiple_funding_codes('angel', 'seed').count %></td>
          <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year - 1, 'q3').multiple_funding_codes('angel', 'seed').average('funding_amount')) %></td>
        </tr>
        <tfoot>
          <tr>
            <td colspan="4"><em>*Millions of dollars</em>
            </td>
          </tr>
        </tfoot>
      </tbody>
    </table>
  </div>

  <div class="grid_12">
    <br>
    <h3 class="center">LTM Angel Funding by Industry</h3>
    <%= render 'individuals_donut' %>
  </div>
</section>
<section class="container group">
  <div class="grid_12">
    <table class= "sortable">
      <caption>LTM Angel Funding by Location</caption>
      <thead>
        <tr>
          <th>City</th>
          <th>Investments</th>
          <th>Volume</th>
          <th>Avg. Investment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> San Francisco</td>
          <td class="currency"><%= format_mil(Funding.for_city('San Francisco').multiple_funding_codes('seed', 'angel').ltm_fundings(365).sum(:funding_amount)) %></td>
          <td><%= Funding.for_city('San Francisco').multiple_funding_codes('seed', 'angel').ltm_fundings(365).count %></td>
          <td><%= format_mil(Funding.for_city('San Francisco').multiple_funding_codes('seed', 'angel').ltm_fundings(365).average(:funding_amount)) %></td>
        </tr>
        <tr>
          <td>New York</td>
          <td class="currency"><%= format_mil(Funding.for_city('New York').multiple_funding_codes('seed', 'angel').ltm_fundings(365).sum(:funding_amount)) %></td>
          <td><%= Funding.for_city('New York').multiple_funding_codes('seed', 'angel').ltm_fundings(365).count %></td>
          <td><%= format_mil(Funding.for_city('New York').multiple_funding_codes('seed', 'angel').ltm_fundings(365).average(:funding_amount)) %></td>
        </tr>
        <tr>
          <td>Boston</td>
          <td class="currency"><%= format_mil(Funding.for_city('Boston').multiple_funding_codes('seed', 'angel').ltm_fundings(365).sum(:funding_amount)) %></td>
          <td><%= Funding.for_city('Boston').multiple_funding_codes('seed', 'angel').ltm_fundings(365).count %></td>
          <td><%= format_mil(Funding.for_city('Boston').multiple_funding_codes('seed', 'angel').ltm_fundings(365).average(:funding_amount)) %></td>
        </tr>
        <tr>
          <td>Chicago</td>
          <td class="currency"><%= format_mil(Funding.for_city('Chicago').multiple_funding_codes('seed', 'angel').ltm_fundings(365).sum(:funding_amount)) %></td>
          <td><%= Funding.for_city('Chicago').multiple_funding_codes('seed', 'angel').ltm_fundings(365).count %></td>
          <td><%= format_mil(Funding.for_city('Chicago').multiple_funding_codes('seed', 'angel').ltm_fundings(365).average(:funding_amount)) %></td>
        </tr>
        <tr>
          <td>Austin</td>
          <td class="currency"><%= format_mil(Funding.for_city('Austin').multiple_funding_codes('seed', 'angel').ltm_fundings(365).sum(:funding_amount)) %></td>
          <td><%= Funding.for_city('Austin').multiple_funding_codes('seed', 'angel').ltm_fundings(365).count %></td>
          <td><%= format_mil(Funding.for_city('Austin').multiple_funding_codes('seed', 'angel').ltm_fundings(365).average(:funding_amount)) %></td>
        </tr>
        <tr>
          <td>Boulder</td>
          <td class="currency"><%= format_mil(Funding.for_city('Boulder').multiple_funding_codes('seed', 'angel').ltm_fundings(365).sum(:funding_amount)) %></td>
          <td><%= Funding.for_city('Boulder').multiple_funding_codes('seed', 'angel').ltm_fundings(365).count %></td>
          <td><%= format_mil(Funding.for_city('Boulder').multiple_funding_codes('seed', 'angel').ltm_fundings(365).average(:funding_amount)) %></td>
        </tr>
        <tr>
          <td>Los Angeles</td>
          <td class="currency"><%= format_mil(Funding.for_city('Los Angeles').multiple_funding_codes('seed', 'angel').ltm_fundings(365).sum(:funding_amount)) %></td>
          <td><%= Funding.for_city('Los Angeles').multiple_funding_codes('seed', 'angel').ltm_fundings(365).count %></td>
          <td><%= format_mil(Funding.for_city('Los Angeles').multiple_funding_codes('seed', 'angel').ltm_fundings(365).average(:funding_amount)) %></td>
        </tr>
        <tr>
          <td>Atlanta</td>
          <td class="currency"><%= format_mil(Funding.for_city('Atlanta').multiple_funding_codes('seed', 'angel').ltm_fundings(365).sum(:funding_amount)) %></td>
          <td><%= Funding.for_city('Atlanta').multiple_funding_codes('seed', 'angel').ltm_fundings(365).count %></td>
          <td><%= format_mil(Funding.for_city('Atlanta').multiple_funding_codes('seed', 'angel').ltm_fundings(365).average(:funding_amount)) %></td>
        </tr>
        <tr>
          <td>Las Vegas</td>
          <td class="currency"><%= format_mil(Funding.for_city('Las Vegas').multiple_funding_codes('seed', 'angel').ltm_fundings(365).sum(:funding_amount)) %></td>
          <td><%= Funding.for_city('Las Vegas').multiple_funding_codes('seed', 'angel').ltm_fundings(365).count %></td>
          <td><%= format_mil(Funding.for_city('Las Vegas').multiple_funding_codes('seed', 'angel').ltm_fundings(365).average(:funding_amount)) %></td>
        </tr>
        <tr>
          <td>Houston</td>
          <td class="currency"><%= format_mil(Funding.for_city('Houston').multiple_funding_codes('seed', 'angel').ltm_fundings(365).sum(:funding_amount)) %></td>
          <td><%= Funding.for_city('Houston').multiple_funding_codes('seed', 'angel').ltm_fundings(365).count %></td>
          <td><%= format_mil(Funding.for_city('Houston').multiple_funding_codes('seed', 'angel').ltm_fundings(365).average(:funding_amount)) %></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"><em>*Millions of dollars</em>
            <br><em>Note: San Francisco includes Silicon Valley and the Bay Area</em>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="grid_12">
    <br>
    <h3 class="center">Monthly Angel Investing</h3>
    <%= render 'individuals_bar' %>
  </div>
</section>
