<div class="label">
    <h3 class= "container">Listing individuals</h1>
</div>


<table class= "sortable">
  <tr>
    <th>Name</th>
    <th>Total Investments</th>
    <th>Perma</th>
    <th>Crunch url</th>
    <th>Home url</th>
  </tr>

<% @individuals.each do |individual| %>
  <tr>
    <td><%= link_to individual.name, individual %></td>
    <td><%= number_to_currency(individual.total_investments, unit: "$") %></td>
    <td><%= individual.perma %></td>
    <td><%= individual.crunch_url %></td>
    <td><%= individual.home_url %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Individual', new_individual_path %>
