<div class="label">
    <h3 class= "container">Industry Snapshot</h1>
</div>
<section class="container group under">
  <div class="grid_12">
    <% industry_array= Array.new %>
    <% a = @fundings %>
    <% total_funding = a.sum('funding_amount') %>

    <table class="table table-hover sortable">
      <caption>LTM Funding By Industry</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Amount<span class="footnote">*</span></th>
          <th>% Total</th>
          <th>Volume</th>
        </tr>
      </thead>
      <% @industries.find_each do |industry| %>
      <tbody>
        <tr>
          <td><%= industry_name = industry.name.titleize %></td>
          <td class="currency"><%= format_mil(a.for_industry(industry.id).sum('funding_amount')) %></td>
          <% percent = a.for_industry(industry.id).sum('funding_amount') / total_funding %>
          <td><%= number_to_percentage(percent * 100, :precision => 0) %></td>
          <td><%= a.for_industry(industry.id).count %></td>
        </tr>
      <% industry_array << {label: industry_name , value: (percent*100).round(0) } %>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"><em>*Millions of dollars</em>
                          <em><br>Note: Other is a catchall category in Crunchbase data</em>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="grid_12">
    <p>&nbsp;</p>
    <h3 class="center">LTM Funding By Industry</h3>
    <% j_industry_array = industry_array.to_json %>

    <!-- what is the purpose of the 2 lines below -->

    <div id="industry_funding" class="right"></div>
    <div class="clearfix"></div>
    <%= render 'industry_donut' %>
  </div>
  <p>&nbsp;</p>

</section>


<section class="container group">



  <div class="grid_12">

    <%= select_tag :industry_id, options_from_collection_for_select(@industries, :id, :name) %>
      <h3 id='industry-header'>LTM Funding by Industry<h3>
      <table id="industry-table"></table>

    <% @industries.find_each do |industry| %>
      <h3 id="industry-header-<%= industry.name %>" style="display: none">LTM<span class="footnote">*</span> Funding by Round - <%= industry.name %></h3>
       <table class="table table-hover sortable" id="industry-table-<%= industry.name %>" style="display: none">
          <thead>
            <tr>
              <th>Series</th>
              <th>Amount<span class="footnote">**</span></th>
              <th>Volume</th>
              <th>Avg. Round Investment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Seed</td>
              <td class="currency"> <%=  format_mil(@seed_funding.for_industry(industry.id).sum('funding_amount') ) %></td>
              <td> <%=  @seed_funding.for_industry(industry.id).count %></td>
              <td> <%=  format_mil(@seed_funding.for_industry(industry.id).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>Angel</td>
              <td class="currency"> <%=  format_mil(@angel_funding).for_industry(industry.id).sum('funding_amount') ) %></td>
              <td> <%=  @angel_funding.for_industry(industry.id).count %></td>
              <td> <%=  format_mil(@angel_funding.for_industry(industry.id).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>Series A</td>
              <td class="currency"> <%=  format_mil(@a_funding.for_industry(industry.id).sum('funding_amount') ) %></td>
              <td> <%=  @a_funding.for_industry(industry.id).count %></td>
              <td> <%=  format_mil(@a_funding.for_industry(industry.id).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>Series B</td>
              <td class="currency"> <%=  format_mil(@b_funding.for_industry(industry.id).sum('funding_amount') ) %></td>
              <td> <%=  @b_funding.for_industry(industry.id).count %></td>
              <td> <%=  format_mil(@b_funding.for_industry(industry.id).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>Series C</td>
              <td class="currency"> <%=  format_mil(@c_funding.for_industry(industry.id).sum('funding_amount') ) %></td>
              <td> <%=  @c_funding.for_industry(industry.id).count %></td>
              <td> <%=  format_mil(@c_funding.for_industry(industry.id).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>Series D</td>
              <td class="currency"> <%=  format_mil(@d_funding.for_industry(industry.id).sum('funding_amount') ) %></td>
              <td> <%=  @d_funding.for_industry(industry.id).count %></td>
              <td> <%=  format_mil(@d_funding.for_industry(industry.id).average('funding_amount') ) %></td>
            </tr>
             <tr>
              <td>Series E</td>
              <td class="currency"> <%=  format_mil(@e_funding.for_industry(industry.id).sum('funding_amount') ) %></td>
              <td> <%=  @e_funding.for_industry(industry.id).count %></td>
              <td> <%=  format_mil(@e_funding.for_industry(industry.id).average('funding_amount') ) %></td>
            </tr>
             <tr>
              <td>Series F</td>
              <td class="currency"> <%=  format_mil(@f_funding.for_industry(industry.id).sum('funding_amount') ) %></td>
              <td> <%=  @f_funding.for_industry(industry.id).count %></td>
              <td> <%=  format_mil(@f_funding.for_industry(industry.id).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>Series G</td>
              <td class="currency"> <%=  format_mil(@g_funding.for_industry(industry.id).sum('funding_amount') ) %></td>
              <td> <%=  @g_funding.for_industry(industry.id).count %></td>
              <td> <%=  format_mil(@g_funding.for_industry(industry.id).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>Venture Round</td>
              <td class="currency"> <%=  format_mil(@venture_funding.for_industry(industry.id).sum('funding_amount') ) %></td>
              <td> <%=  @venture_funding.for_industry(industry.id).count %></td>
              <td> <%=  format_mil(@venture_funding.for_industry(industry.id).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>Private Equity</td>
              <td class="currency"> <%=  format_mil(@private_equity_funding.for_industry(industry.id).sum('funding_amount') ) %></td>
              <td> <%=  @private_equity_funding.for_industry(industry.id).count %></td>
              <td> <%=  format_mil(@private_equity_funding.for_industry(industry.id).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>Debt Round</td>
              <td class="currency"> <%=  format_mil(@debt_funding.for_industry(industry.id).sum('funding_amount') ) %></td>
              <td> <%=  @debt_funding.for_industry(industry.id).count %></td>
              <td> <%=  format_mil(@debt_funding.for_industry(industry.id).average('funding_amount') ) %></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">*Last 12 Months **In millions</td>
            </tr>
          </tfoot>
        </table>
      <% end %>
</div>






  <div class="grid_12">
    <h3 class="center">LTM Industry Funding by Month</h3>
    <%= render 'industry_bar', :i_id  => 97 %>
    <p class="footnote"><em>*Dollars in millions</em></p>
  </div>
  <p>&nbsp;</p>

</section>

<script>
  $(document).ready(function(){
     $('#industry_id').change(function(){
       var str = $('#industry_id :checked').text();
       // dont know why!
       var selected_industry = str.substring(0, str.length - 5);
       // end dont know why
       var filtered_industry_header = $("#industry-header-" + selected_industry).html();
       var filtered_industry_table = $("#industry-table-" + selected_industry).html();
       $('#industry-header').html(filtered_industry_header);
       $('#industry-table').html(filtered_industry_table);
     });
   });
</script>
