<div class="label">
    <h3 class= "container">Industry Snapshot</h1>
</div>

<%= render 'industry_donut' %>

<div>
<h2>LTM Industry Funding (Web) - Hardcoded</h2>

<%=form_tag('/industry') do %>
  <div>
    <%= select_tag :industry_id, options_from_collection_for_select(Industry.all, :id, :name) %>
  </div>

  <%= submit_tag "Select Industry", class: 'btn btn-success' %>
<% end %>

<%= render 'industry_bar' %>

</div>
