

<div class="label">
    <h3 class= "container">Listing industries</h1>
</div>

<body>
  <div id="donut-example"></div>


<% @fundings.each do |f| %>
<%= f.funding_amount %>
<% end %>

<% @fundings.each do |f| %>
<%= f.funding_amount %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Total funded</th>
  </tr>

<% @industries.each do |industry| %>
  <tr>
    <td><%= link_to industry.name, industry %></td>
    <td><%= number_to_currency(industry.funded, :unit => "$") %></td>
  </tr>
  <% @industry_array<<{label: industry.name, value: industry.funded } %>
<% end %>
</table>

</body>
<% j_array=@industry_array.to_json %>
<script type="text/javascript">
Morris.Donut({
  element: 'donut-example',
  data:
    <%= raw(j_array) %>
});
</script>

<%= link_to 'New Industry', new_industry_path %>
