<p id="notice"><%= notice %></p>
<div class="label">
    <h3 class= "container"> <%= @company.name %></h1>
</div>
<div class="container group">

  <div class="grid_8">
    <p>
      <b>Perma:</b><br>
      <%= @company.perma %>
    </p>
    <p>&nbsp;</p>
    <p>
      <b>Industry:</b><br>
      <%= @company.industry_id %>
    </p>
    <p>&nbsp;</p>
    <p>
      <b>Crunch url:</b><br>
      <%= @company.crunch_url %>
    </p>
    <p>&nbsp;</p>
    <p>
      <b>Home url:</b><br>
      <%= @company.home_url %>
    </p>
    <p>&nbsp;</p>
    <p>
      <b>Founded date:</b><br>
      <%= @company.founded_date %>
    </p>
    <p>&nbsp;</p>
    <p>
      <b>Dead date:</b><br>
      <%= @company.dead_date %>
    </p>
    <p>&nbsp;</p>
  </div>

  
  


<%= render :partial => 'fundings/funding_show', locals: {fundings: Funding.for_company(@company.id)} %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
