<p id="notice"><%= notice %></p>
<div class="label">
    <h3 class= "container"> <%= @company.name %></h1>
</div>

<p>
  <b>Perma:</b>
  <%= @company.perma %>
</p>

<p>
  <b>Industry:</b>
  <%= Industry.find_by_id(@company.industry_id).name %>
</p>

<p>
  <b>Crunch url:</b>
  <%= @company.crunch_url %>
</p>

<p>
  <b>Home url:</b>
  <%= @company.home_url %>
</p>

<p>
  <b>Founded date:</b>
  <%= @company.founded_date %>
</p>

<p>
  <b>Dead date:</b>
  <%= @company.dead_date %>
</p>

<%= render :partial => 'fundings/funding_show', locals: {fundings: Funding.for_company(@company.id)} %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
