<p id="notice"><%= notice %></p>
<div class="label">
    <h3 class= "container"> <%= @company.name %></h3>
</div>
<section class="container group">
	<div class="grid_6 widget_info">
		<h4 class="col_head">General Info</h4>
		<p>&nbsp;</p>
		<div class="cbw snap_nopreview">
			<!-- <div class="cbw_header">
				<script src="http://www.crunchbase.com/javascripts/widget.js" type="text/javascript"></script>
				<div class="cbw_header_text">
					<a href="http://www.crunchbase.com/">CrunchBase Information</a>
				</div>
			</div> -->
			<div class="cbw_content">
				<!-- <div class="cbw_subheader">
					<a href="http://www.crunchbase.com/company/	<%= @company.perma %>"><%= @company.name %></a>
				</div> -->
				<div class="cbw_subcontent">
					<script src="http://www.crunchbase.com/cbw/company/<%= @company.perma %>.js" type="text/javascript"></script>
				</div>
				<!-- <div class="cbw_footer">
					Information provided by <a href="http://www.crunchbase.com/">CrunchBase</a>
				</div> -->
			</div>
		</div>
	</div>
	<div class="grid_14">
		<h4 class="col_head">Activity</h4>


      <table class= "sortable">
      <caption><%= @company.name %> Investors</caption>
      <thead>
        <tr>
          <th>Funding Round </th>
          <th>Type</th>
          <th>Investor</th>
        </tr>
      </thead>
      <tbody>
        <% @investments.each do |investment| %>
            <% if investment.investable==nil || investment.funding.company.perma!=@company.perma %>
            <% next %>
            <% end %>
            <tr id="<%= investment.funding.company.perma %>">
              <td><%= Funding.find_by_id(investment.funding_id).funding_code %></td>
              <td><%= investment.investable_type %></td>
              <td><%= link_to investment.investable.perma, investment.investable %></td>
            </tr>
        <% end %>
       </tbody>
   		 </table>

		<%= render :partial => 'fundings/funding_show', locals: {fundings: Funding.for_company(@company.id)} %>
	</div>
	<div class="grid_4">
		<h4 class="col_head">Sponsors</h4>
	</div>
</section>
<section class="container">
	<%= link_to 'Edit', edit_company_path(@company) %> |
	<%= link_to 'Back', companies_path %>
</section>
