<div class="label">
    <h3 class= "container">The Startup Funding Landscape</h1>
</div>

<div class="container grid_12">
  <h2>Top 10, 25, etc. Investors</h2>
  <h2>Fundings by Location</h2>
  <h2>Recent Fundings by...Location, Round</h2>
  <h2>Top 10 Fundings by Date</h2>
  <h2>Top 10 Fundings by Round Date</h2>

   <h2>LTM Funding</h2>
   <p>To do: click on table row and take you to details for that table row </p>
   <p>To do: how do we create footnotes (i.e. LTM is last tweleve months) </p>
   <table class="table table-hover sortable">
     <tr>
       <th>Quarter</th>
       <th>Amount ($ millions)</th>
       <th>Volume</th>
       <th>Avg. Round Investment</th>
     </tr>
     <tr>
       <td>Q2 2013</td>
       <td> <%= format_mil(Funding.quarterly_fundings(Time.now().year, 'q2').sum('funding_amount')) %></td>
       <td> <%= Funding.quarterly_fundings(Time.now().year, 'q2').count %></td>
       <td> <%= format_mil(Funding.quarterly_fundings(Time.now().year, 'q2').average('funding_amount')) %></td>
     </tr>
    </tr>
       <td>Q1 2013</td>
       <td> <%= format_mil(Funding.quarterly_fundings(Time.now().year, 'q1').sum('funding_amount')) %></td>
       <td> <%= Funding.quarterly_fundings(Time.now().year, 'q1').count %></td>
       <td> <%= format_mil(Funding.quarterly_fundings(Time.now().year, 'q1').average('funding_amount')) %></td>
     </tr>
   </tr>
       <td>Q4 2012</td>
       <td> <%= format_mil(Funding.quarterly_fundings(Time.now().year - 1, 'q4').sum('funding_amount')) %></td>
       <td> <%= Funding.quarterly_fundings(Time.now().year - 1, 'q4').count %></td>
       <td> <%= format_mil(Funding.quarterly_fundings(Time.now().year - 1, 'q4').average('funding_amount')) %></td>
     </tr>
   </tr>
       <td>Q3 2012</td>
       <td> <%= format_mil(Funding.quarterly_fundings(Time.now().year - 1, 'q3').sum('funding_amount')) %></td>
       <td> <%= Funding.quarterly_fundings(Time.now().year - 1, 'q3').count %></td>
       <td> <%= format_mil(Funding.quarterly_fundings(Time.now().year - 1, 'q3').average('funding_amount')) %></td>
     </tr>

   </table>
</div>

<div class="container grid_12">
  <h2>LTM Funding by Industry</h2>
  <h4>To Do: Need to recolor these</h4>
  <%= render "funding_donut" %>
</div>

<div class="container grid_12">
  <h2>LTM Funding by Round</h2>
  <table class="table table-hover sortable">
    <tr>
      <th>Series</th>
      <th>Amount ($ millions)</th>
      <th>Volume</th>
      <th>Avg. Round Investment</th>
    </tr>
    <tr>
      <td>Seed</td>
      <td> <%=  format_mil(Funding.for_funding_round('seed').ltm_fundings(365).sum('funding_amount') ) %></td>
      <td> <%=  Funding.for_funding_round('seed').ltm_fundings(365).count %></td>
      <td> <%=  format_mil(Funding.for_funding_round('seed').ltm_fundings(365).average('funding_amount') ) %></td>
    </tr>
    <tr>
      <td>Angel</td>
      <td> <%=  format_mil(Funding.for_funding_round('angel').ltm_fundings(365).sum('funding_amount') ) %></td>
      <td> <%=  Funding.for_funding_round('angel').ltm_fundings(365).count %></td>
      <td> <%=  format_mil(Funding.for_funding_round('angel').ltm_fundings(365).average('funding_amount') ) %></td>
    </tr>
    <tr>
      <td>Series A</td>
      <td> <%=  format_mil(Funding.for_funding_round('a').ltm_fundings(365).sum('funding_amount') ) %></td>
      <td> <%=  Funding.for_funding_round('a').ltm_fundings(365).count %></td>
      <td> <%=  format_mil(Funding.for_funding_round('a').ltm_fundings(365).average('funding_amount') ) %></td>
    </tr>
    <tr>
      <td>Series B</td>
      <td> <%=  format_mil(Funding.for_funding_round('b').ltm_fundings(365).sum('funding_amount') ) %></td>
      <td> <%=  Funding.for_funding_round('b').ltm_fundings(365).count %></td>
      <td> <%=  format_mil(Funding.for_funding_round('b').ltm_fundings(365).average('funding_amount') ) %></td>
    </tr>
    <tr>
      <td>Series C</td>
      <td> <%=  format_mil(Funding.for_funding_round('c').ltm_fundings(365).sum('funding_amount') ) %></td>
      <td> <%=  Funding.for_funding_round('c').ltm_fundings(365).count %></td>
      <td> <%=  format_mil(Funding.for_funding_round('c').ltm_fundings(365).average('funding_amount') ) %></td>
    </tr>
    <tr>
      <td>Series D</td>
      <td> <%=  format_mil(Funding.for_funding_round('d').ltm_fundings(365).sum('funding_amount') ) %></td>
      <td> <%=  Funding.for_funding_round('d').ltm_fundings(365).count %></td>
      <td> <%=  format_mil(Funding.for_funding_round('d').ltm_fundings(365).average('funding_amount') ) %></td>
    </tr>
    <tr>
      <td>Series E</td>
      <td> <%=  format_mil(Funding.for_funding_round('e').ltm_fundings(365).sum('funding_amount') ) %></td>
      <td> <%=  Funding.for_funding_round('e').ltm_fundings(365).count %></td>
      <td> <%=  format_mil(Funding.for_funding_round('e').ltm_fundings(365).average('funding_amount') ) %></td>
    </tr>
    <tr>
      <td>Series F</td>
      <td> <%=  format_mil(Funding.for_funding_round('f').ltm_fundings(365).sum('funding_amount') ) %></td>
      <td> <%=  Funding.for_funding_round('f').ltm_fundings(365).count %></td>
      <td> <%=  format_mil(Funding.for_funding_round('f').ltm_fundings(365).average('funding_amount') ) %></td>
    </tr>
    <tr>
      <td>Series G</td>
      <td> <%=  format_mil(Funding.for_funding_round('g').ltm_fundings(365).sum('funding_amount') ) %></td>
      <td> <%=  Funding.for_funding_round('g').ltm_fundings(365).count %></td>
      <td> <%=  format_mil(Funding.for_funding_round('g').ltm_fundings(365).average('funding_amount') ) %></td>
    </tr>



  </table>

</div>


<div class="container grid_12">
  <h2>LTM Total Funding...Why Is this So Squished unless I make this title big</h2>
  <p>To Do: Format $ in millions</p>
  <p>To Do: Format dates in 'Jun 2013' or Jun '13</p>
  <p>To Do: Need to recolor this to green</p>
  <%= render "funding_bar" %>
</div>

<!-- Need to figure out why grid 24 causes everything to blow up -->
<div >


<h2>All Fundings</h2>
<table class="table table-hover">
  <tr>
    <th>Company</th>
    <th>Company perma</th>
    <th>Funding code</th>
    <th>Funding amount</th>
    <th>Funding currency</th>
    <th>Funding date</th>
  </tr>

<% @fundings.each do |funding| %>
  <tr>
    <td><%= funding.company_id %></td>
    <td><%= funding.company.perma %></td>
    <td><%= funding.funding_code %></td>
    <td><%= funding.funding_amount %></td>
    <td><%= funding.funding_currency %></td>
    <td><%= funding.funding_date %></td>
  </tr>
<% end %>
</table>

<br />

</div>

