<div class="label">
    <h3 class= "container">Listing fundings</h1>
</div>

<h2>Total Funding</h2>
<table class="table table-hover">
  <tr>
    <th>Timeframe</th>
    <th>Amount ($ millions) - tbu</th>
    <th>Number of Rounds(Volume)</th>
    <th>Avg. Round Investment</th>
  </tr>


  <tr>
    <td>Last 3 Months</td>
    <td> <%= a = Funding.ltm_fundings(90).inject(0) {|sum, i| sum += i.funding_amount } %></td>
    <td> <%= b = Funding.ltm_fundings(90).inject(0) {|sum, i| sum += 1 } %></td>
    <td> <%= formatted_millions(a / b) %></td>
  </tr>
  <tr>
    <td>Last 6 Months</td>
    <td> <%= c = Funding.ltm_fundings(180).inject(0) {|sum, i| sum += i.funding_amount } %></td>
    <td> <%= d = Funding.ltm_fundings(180).inject(0) {|sum, i| sum += 1 } %></td>
    <td> <%= formatted_millions(c / d) %></td>
  </tr>
  <tr>
    <td>Last 9 Months</td>
    <td> <%= e = Funding.ltm_fundings(180).inject(0) {|sum, i| sum += i.funding_amount } %></td>
    <td> <%= f = Funding.ltm_fundings(180).inject(0) {|sum, i| sum += 1 } %></td>
    <td> <%= formatted_millions(e / f) %></td>
  </tr>
  <tr>
    <td>Last 12 Months</td>
    <td> <%= g = Funding.ltm_fundings(180).inject(0) {|sum, i| sum += i.funding_amount } %></td>
    <td> <%= h = Funding.ltm_fundings(180).inject(0) {|sum, i| sum += 1 } %></td>
    <td> <%= formatted_millions(g / h) %></td>
  </tr>

</table>

<h2>Total Funding</h2>
<table class="table table-hover">
  <tr>
    <th>Series</th>
    <th>Amount ($ millions) - tbu</th>
    <th>Volume</th>
    <th>Avg. Round Investment</th>
  </tr>
  <tr>
    <td>Seed</td>
    <td> <%=  Funding.for_funding_round('seed').ltm_fundings(365).sum('funding_amount') %></td>
    <td> <%=  Funding.for_funding_round('seed').ltm_fundings(365).count %></td>
    <td> <%=  Funding.for_funding_round('seed').ltm_fundings(365).average('funding_amount') %></td><
  </tr>
  <tr>
    <td>Angel</td>
    <td> <%=  Funding.for_funding_round('angel').ltm_fundings(365).sum('funding_amount') %></td>
    <td> <%=  Funding.for_funding_round('angel').ltm_fundings(365).count %></td>
    <td> <%=  Funding.for_funding_round('angel').ltm_fundings(365).average('funding_amount') %></td>
  </tr>


</table>

<h2>Top 10, 25, etc. Investors by Date?</h2>
<br>

<h2>Top 10 Fundings by Date</h2>
<br>

<h2>Seed Rounds - TBU</h2>
<table class="table table-hover">
  <tr>
    <th>Time Frame</th>
    <th>Amount ($ millions) - tbu</th>
    <th>Volume</th>
    <th>Avg. Round Investment</th>
  </tr>

  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 3 Months</td>
    <td><%= i = Funding.ltm_round_fundings(90, 'seed').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(90, 'seed').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 6 Months</td>
    <td><%= i = Funding.ltm_round_fundings(180, 'seed').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(180, 'seed').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 9 Months</td>
    <td><%= i = Funding.ltm_round_fundings(270, 'seed').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(270, 'seed').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 12 Months</td>
    <td><%= i = Funding.ltm_round_fundings(360, 'angel').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(360, 'angel').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
</table>

<h2>Angel Funding Rounds - TBU</h2>
<table class="table table-hover">
  <tr>
    <th>Time Frame</th>
    <th>Amount ($ millions) - tbu</th>
    <th>Volume</th>
    <th>Avg. Round Investment</th>
  </tr>

  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 3 Months</td>
    <td><%= i = Funding.ltm_round_fundings(90, 'angel').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(90, 'angel').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 6 Months</td>
    <td><%= i = Funding.ltm_round_fundings(180, 'angel').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(180, 'angel').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 9 Months</td>
    <td><%= i = Funding.ltm_round_fundings(270, 'angel').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(270, 'angel').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 12 Months</td>
    <td><%= i = Funding.ltm_round_fundings(360, 'angel').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(360, 'angel').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
</table>

<h2>Series A Funding Rounds - TBU</h2>
<table class="table table-hover">
  <tr>
    <th>Time Frame</th>
    <th>Amount ($ millions) - tbu</th>
    <th>Volume</th>
    <th>Avg. Round Investment</th>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 3 Months</td>
    <td><%= i = Funding.ltm_round_fundings(90, 'a').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(90, 'a').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 6 Months</td>
    <td><%= i = Funding.ltm_round_fundings(180, 'a').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(180, 'a').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 9 Months</td>
    <td><%= i = Funding.ltm_round_fundings(270, 'a').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(270, 'a').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 12 Months</td>
    <td><%= i = Funding.ltm_round_fundings(360, 'a').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(360, 'a').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
</table>

<h2>Series B Funding Rounds - TBU</h2>
<table class="table table-hover">
  <tr>
    <th>Time Frame</th>
    <th>Amount ($ millions) - tbu</th>
    <th>Volume</th>
    <th>Avg. Round Investment</th>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 3 Months</td>
    <td><%= i = Funding.ltm_round_fundings(90, 'b').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(90, 'b').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 6 Months</td>
    <td><%= i = Funding.ltm_round_fundings(180, 'b').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(180, 'b').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 9 Months</td>
    <td><%= i = Funding.ltm_round_fundings(270, 'b').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(270, 'b').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 12 Months</td>
    <td><%= i = Funding.ltm_round_fundings(360, 'b').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(360, 'b').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
</table>

<h2>Series C Funding Rounds - TBU</h2>
<table class="table table-hover">
  <tr>
    <th>Time Frame</th>
    <th>Amount ($ millions) - tbu</th>
    <th>Volume</th>
    <th>Avg. Round Investment</th>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 3 Months</td>
    <td><%= i = Funding.ltm_round_fundings(90, 'c').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(90, 'c').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 6 Months</td>
    <td><%= i = Funding.ltm_round_fundings(180, 'c').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(180, 'c').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 9 Months</td>
    <td><%= i = Funding.ltm_round_fundings(270, 'c').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(270, 'c').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 12 Months</td>
    <td><%= i = Funding.ltm_round_fundings(360, 'c').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(360, 'c').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
</table>

<h2>Series D Funding Rounds - TBU</h2>
<table class="table table-hover">
  <tr>
    <th>Time Frame</th>
    <th>Amount ($ millions) - tbu</th>
    <th>Volume</th>
    <th>Avg. Round Investment</th>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 3 Months</td>
    <td><%= i = Funding.ltm_round_fundings(90, 'd').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(90, 'd').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 6 Months</td>
    <td><%= i = Funding.ltm_round_fundings(180, 'd').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(180, 'd').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 9 Months</td>
    <td><%= i = Funding.ltm_round_fundings(270, 'd').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(270, 'd').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 12 Months</td>
    <td><%= i = Funding.ltm_round_fundings(360, 'd').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(360, 'd').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
</table>

<h2>Series E Rounds - TBU</h2>
<table class="table table-hover">
  <tr>
    <th>Time Frame</th>
    <th>Amount ($ millions) - tbu</th>
    <th>Volume</th>
    <th>Avg. Round Investment</th>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 3 Months</td>
    <td><%= i = Funding.ltm_round_fundings(90, 'e').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(90, 'e').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 6 Months</td>
    <td><%= i = Funding.ltm_round_fundings(180, 'e').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(180, 'e').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 9 Months</td>
    <td><%= i = Funding.ltm_round_fundings(270, 'e').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(270, 'e').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 12 Months</td>
    <td><%= i = Funding.ltm_round_fundings(360, 'e').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(360, 'e').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
</table>

<h2>Series F Rounds - TBU</h2>
<table class="table table-hover">
  <tr>
    <th>Time Frame</th>
    <th>Amount ($ millions) - tbu</th>
    <th>Volume</th>
    <th>Avg. Round Investment</th>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 3 Months</td>
    <td><%= i = Funding.ltm_round_fundings(90, 'f').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(90, 'f').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 6 Months</td>
    <td><%= i = Funding.ltm_round_fundings(180, 'f').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(180, 'f').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 9 Months</td>
    <td><%= i = Funding.ltm_round_fundings(270, 'f').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(270, 'f').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 12 Months</td>
    <td><%= i = Funding.ltm_round_fundings(360, 'f').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(360, 'f').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
</table>

<h2>Series G Rounds - TBU</h2>
<table class="table table-hover">
  <tr>
    <th>Time Frame</th>
    <th>Amount ($ millions) - tbu</th>
    <th>Volume</th>
    <th>Avg. Round Investment</th>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 3 Months</td>
    <td><%= i = Funding.ltm_round_fundings(90, 'g').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(90, 'g').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 6 Months</td>
    <td><%= i = Funding.ltm_round_fundings(180, 'g').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(180, 'g').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 9 Months</td>
    <td><%= i = Funding.ltm_round_fundings(270, 'g').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(270, 'g').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 12 Months</td>
    <td><%= i = Funding.ltm_round_fundings(360, 'g').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(360, 'g').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
</table>

<h2>Venture Rounds - TBU</h2>
<table class="table table-hover">
  <tr>
    <th>Time Frame</th>
    <th>Amount ($ millions) - tbu</th>
    <th>Volume</th>
    <th>Avg. Round Investment</th>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 3 Months</td>
    <td><%= i = Funding.ltm_round_fundings(90, 'venture round').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(90, 'venture round').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 6 Months</td>
    <td><%= i = Funding.ltm_round_fundings(180, 'venture round').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(180, 'venture round').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 9 Months</td>
    <td><%= i = Funding.ltm_round_fundings(270, 'venture round').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(270, 'venture round').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 12 Months</td>
    <td><%= i = Funding.ltm_round_fundings(360, 'venture round').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(360, 'venture round').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
</table>

<h2>Private Equity Funding Rounds - TBU</h2>
<table class="table table-hover">
  <tr>
    <th>Time Frame</th>
    <th>Amount ($ millions) - tbu</th>
    <th>Volume</th>
    <th>Avg. Round Investment</th>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 3 Months</td>
    <td><%= i = Funding.ltm_round_fundings(90, 'private_equity').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(90, 'private_equity').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 6 Months</td>
    <td><%= i = Funding.ltm_round_fundings(180, 'private_equity').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(180, 'private_equity').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 9 Months</td>
    <td><%= i = Funding.ltm_round_fundings(270, 'private_equity').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(270, 'private_equity').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 12 Months</td>
    <td><%= i = Funding.ltm_round_fundings(360, 'private_equity').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(360, 'private_equity').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
</table>

<h2>Debt Funding Rounds - TBU</h2>
<table class="table table-hover">
  <tr>
    <th>Time Frame</th>
    <th>Amount ($ millions) - tbu</th>
    <th>Volume</th>
    <th>Avg. Round Investment</th>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 3 Months</td>
    <td><%= i = Funding.ltm_round_fundings(90, 'debt_round').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(90, 'debt_round').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 6 Months</td>
    <td><%= i = Funding.ltm_round_fundings(180, 'debt_round').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(180, 'debt_round').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 9 Months</td>
    <td><%= i = Funding.ltm_round_fundings(270, 'debt_round').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(270, 'debt_round').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 12 Months</td>
    <td><%= i = Funding.ltm_round_fundings(360, 'debt_round').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(360, 'debt_round').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
</table>

<h2>IPOs - TBU</h2>
<table class="table table-hover">
  <tr>
    <th>Time Frame</th>
    <th>Amount ($ millions) - tbu</th>
    <th>Volume</th>
    <th>Avg. Round Investment</th>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 3 Months</td>
    <td><%= i = Funding.ltm_round_fundings(90, 'ipo').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(90, 'ipo').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 6 Months</td>
    <td><%= i = Funding.ltm_round_fundings(180, 'ipo').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(180, 'ipo').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 9 Months</td>
    <td><%= i = Funding.ltm_round_fundings(270, 'ipo').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(270, 'ipo').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
  <tr>
    <!-- Need to build in logic to handle zero division -->
    <td>Last 12 Months</td>
    <td><%= i = Funding.ltm_round_fundings(360, 'ipo').inject(0) {|sum, i| sum += i.funding_amount} %></td>
    <td><%= j = Funding.ltm_round_fundings(360, 'ipo').inject(0) {|sum, i| sum += 1 } %></td>
    <td><%#= formatted_millions(i / j) %></td>
  </tr>
</table>

<h2>1Q2012 Fundings</h2>
<table class="table table-hover">
  <tr>
    <th>Company</th>
    <th>Company perma</th>
    <th>Funding code</th>
    <th>Funding amount</th>
    <th>Funding currency</th>
    <th>Funding date</th>
  </tr>

<% Funding.quarterly_fundings(2012, 'q1').each do |funding| %>
  <tr>
    <td><%= funding.company_id %></td>
    <td><%= funding.company.perma %></td>
    <td><%= funding.funding_code %></td>
    <td><%= funding.funding_amount%></td>
    <td><%= funding.funding_currency %></td>
    <td><%= funding.funding_date %></td>
<% end %>
</table>

<h2>2Q2012 Fundings</h2>
<table class="table table-hover">
  <tr>
    <th>Company</th>
    <th>Company perma</th>
    <th>Funding code</th>
    <th>Funding amount</th>
    <th>Funding currency</th>
    <th>Funding date</th>
  </tr>

<% Funding.quarterly_fundings(2012, 'q2').each do |funding| %>
  <tr>
    <td><%= funding.company_id %></td>
    <td><%= funding.company.perma %></td>
    <td><%= funding.funding_code %></td>
    <td><%= funding.funding_amount%></td>
    <td><%= funding.funding_currency %></td>
    <td><%= funding.funding_date %></td>
<% end %>
</table>

<h2>3Q2012 Fundings</h2>
<table class="table table-hover">
  <tr>
    <th>Company</th>
    <th>Company perma</th>
    <th>Funding code</th>
    <th>Funding amount</th>
    <th>Funding currency</th>
    <th>Funding date</th>
  </tr>

<% Funding.quarterly_fundings(2012, 'q3').each do |funding| %>
  <tr>
    <td><%= funding.company_id %></td>
    <td><%= funding.company.perma %></td>
    <td><%= funding.funding_code %></td>
    <td><%= funding.funding_amount%></td>
    <td><%= funding.funding_currency %></td>
    <td><%= funding.funding_date %></td>
<% end %>
</table>

<h2>4Q2012 Fundings</h2>
<table class="table table-hover">
  <tr>
    <th>Company</th>
    <th>Company perma</th>
    <th>Funding code</th>
    <th>Funding amount</th>
    <th>Funding currency</th>
    <th>Funding date</th>
  </tr>

<% Funding.quarterly_fundings(2012, 'q4').each do |funding| %>
  <tr>
    <td><%= funding.company_id %></td>
    <td><%= funding.company.perma %></td>
    <td><%= funding.funding_code %></td>
    <td><%= funding.funding_amount%></td>
    <td><%= funding.funding_currency %></td>
    <td><%= funding.funding_date %></td>
<% end %>
</table>



<h2>Q1 2013 Fundings</h2>
<table class="table table-hover">
  <tr>
    <th>Company</th>
    <th>Company perma</th>
    <th>Funding code</th>
    <th>Funding amount</th>
    <th>Funding currency</th>
    <th>Funding date</th>
  </tr>

<% Funding.quarterly_fundings(2013, 'q1').each do |funding| %>
  <tr>
    <td><%= funding.company_id %></td>
    <td><%= funding.company.perma %></td>
    <td><%= funding.funding_code %></td>
    <td><%= funding.funding_amount%></td>
    <td><%= funding.funding_currency %></td>
    <td><%= funding.funding_date %></td>
<% end %>
</table>

<br />

<h2>All Fundings in Last 3 Months</h2>
<table class="table table-hover">
  <tr>
    <th>Company</th>
    <th>Company perma</th>
    <th>Funding code</th>
    <th>Funding amount</th>
    <th>Funding currency</th>
    <th>Funding date</th>
  </tr>

<% Funding.ltm_fundings(90).each do |funding| %>
  <tr>
    <td><%= funding.company_id %></td>
    <td><%= funding.company.perma %></td>
    <td><%= funding.funding_code %></td>
    <td><%= funding.funding_amount%></td>
    <td><%= funding.funding_currency %></td>
    <td><%= funding.funding_date %></td>
<% end %>
</table>

<br />

<h2>Fundings in Last 6 Months</h2>
<table class="table table-hover">
  <tr>
    <th>Company</th>
    <th>Company perma</th>
    <th>Funding code</th>
    <th>Funding amount</th>
    <th>Funding currency</th>
    <th>Funding date</th>
  </tr>

<% Funding.ltm_fundings(90).each do |funding| %>
  <tr>
    <td><%= funding.company_id %></td>
    <td><%= funding.company.perma %></td>
    <td><%= funding.funding_code %></td>
    <td><%= funding.funding_amount %></td>
    <td><%= funding.funding_currency %></td>
    <td><%= funding.funding_date %></td>
  </tr>
<% end %>
</table>

<br />

<h2>Fundings in Last 9 Months</h2>
<table class="table table-hover">
  <tr>
    <th>Company</th>
    <th>Company perma</th>
    <th>Funding code</th>
    <th>Funding amount</th>
    <th>Funding currency</th>
    <th>Funding date</th>

  </tr>

<% Funding.ltm_fundings(90).each do |funding| %>
  <tr>
    <td><%= funding.company_id %></td>
    <td><%= funding.company.perma %></td>
    <td><%= funding.funding_code %></td>
    <td><%= funding.funding_amount %></td>
    <td><%= funding.funding_currency %></td>
    <td><%= funding.funding_date %></td>
  </tr>
<% end %>
</table class="table table-hover">

<br />

<h2>Fundings in Last 12 Months</h2>
<table>
  <tr>
    <th>Company</th>
    <th>Company perma</th>
    <th>Funding code</th>
    <th>Funding amount</th>
    <th>Funding currency</th>
    <th>Funding date</th>
  </tr>

<% Funding.ltm_fundings(90).each do |funding| %>
  <tr>
    <td><%= funding.company_id %></td>
    <td><%= funding.company.perma %></td>
    <td><%= funding.funding_code %></td>
    <td><%= funding.funding_amount %></td>
    <td><%= funding.funding_currency %></td>
    <td><%= funding.funding_date %></td>
  </tr>
<% end %>
</table class="table table-hover">

<br />

<h2>Fundings in 2013</h2>
<table>
  <tr>
    <th>Company</th>
    <th>Company perma</th>
    <th>Funding code</th>
    <th>Funding amount</th>
    <th>Funding currency</th>
    <th>Funding date</th>
  </tr>

<% Funding.annual_fundings(2013).each do |funding| %>
  <tr>
    <td><%= funding.company_id %></td>
    <td><%= funding.company.perma %></td>
    <td><%= funding.funding_code %></td>
    <td><%= funding.funding_amount %></td>
    <td><%= funding.funding_currency %></td>
    <td><%= funding.funding_date %></td>

  </tr>
<% end %>
</table>

<h2>Fundings in 2012</h2>
<table>
  <tr>
    <th>Company</th>
    <th>Company perma</th>
    <th>Funding code</th>
    <th>Funding amount</th>
    <th>Funding currency</th>
    <th>Funding date</th>
  </tr>

<% Funding.annual_fundings(2012).each do |funding| %>
  <tr>
    <td><%= funding.company_id %></td>
    <td><%= funding.company.perma %></td>
    <td><%= funding.funding_code %></td>
    <td><%= funding.funding_amount %></td>
    <td><%= funding.funding_currency %></td>
    <td><%= funding.funding_date %></td>

  </tr>
<% end %>
</table>
<br />

<h2>Fundings in 2011</h2>
<table>
  <tr>
    <th>Company</th>
    <th>Company perma</th>
    <th>Funding code</th>
    <th>Funding amount</th>
    <th>Funding currency</th>
    <th>Funding date</th>
  </tr>

<% Funding.annual_fundings(2011).each do |funding| %>
  <tr>
    <td><%= funding.company_id %></td>
    <td><%= funding.company.perma %></td>
    <td><%= funding.funding_code %></td>
    <td><%= funding.funding_amount %></td>
    <td><%= funding.funding_currency %></td>
    <td><%= funding.funding_date %></td>

  </tr>
<% end %>
</table>
<br />


<h2>All Fundings</h2>
<table class="table table-hover">
  <tr>
    <th>Company</th>
    <th>Company perma</th>
    <th>Funding code</th>
    <th>Funding amount</th>
    <th>Funding currency</th>
    <th>Funding date</th>
  </tr>

<% @fundings.each do |funding| %>
  <tr>
    <td><%= funding.company_id %></td>
    <td><%= funding.company.perma %></td>
    <td><%= funding.funding_code %></td>
    <td><%= funding.funding_amount %></td>
    <td><%= funding.funding_currency %></td>
    <td><%= funding.funding_date %></td>
  </tr>
<% end %>
</table>

<br />

