<div class="label">
    <h3 class= "container">The Startup Funding Landscape</h1>
</div>
<section class="container group under">
      <div class="grid_12">
        <table class="table table-hover sortable">
          <caption>Total Funding by Quarter</caption>
          <thead>
            <tr>
              <th>Quarter</th>
              <th>Amount<span class="footnote">*</span></th>
              <th>Volume</th>
              <th>Avg. Investment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Q2 2013</td>
              <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year, 'q2').sum('funding_amount')) %></td>
              <td> <%= Funding.quarterly_fundings(Time.now().year, 'q2').count %></td>
              <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year, 'q2').average('funding_amount')) %></td>
            </tr>
            <tr>
              <td>Q1 2013</td>
              <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year, 'q1').sum('funding_amount')) %></td>
              <td> <%= Funding.quarterly_fundings(Time.now().year, 'q1').count %></td>
              <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year, 'q1').average('funding_amount')) %></td>
            <tr>
            </tr>
              <td>Q4 2012</td>
              <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year - 1, 'q4').sum('funding_amount')) %></td>
              <td> <%= Funding.quarterly_fundings(Time.now().year - 1, 'q4').count %></td>
              <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year - 1, 'q4').average('funding_amount')) %></td>
            </tr>
            <tr>
              <td>Q3 2012</td>
              <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year - 1, 'q3').sum('funding_amount')) %></td>
              <td> <%= Funding.quarterly_fundings(Time.now().year - 1, 'q3').count %></td>
              <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year - 1, 'q3').average('funding_amount')) %></td>
            </tr>
            <tfoot>
              <tr colspan="4">
                <td colspan="4"><em>*Millions of Dollars</em></td>
              </tr>
            </tfoot>
          </tbody>
        </table>


      </div>
      <div class="grid_12">
        <p>&nbsp;</p>
        <h3 class="center">LTM Total Funding by Industry</h3>
        <%= render "funding_donut" %>
      </div>


    </section>
    <section class="container group">
      <div class="grid_12">
        <table class="table table-hover sortable">
          <caption>LTM Total Funding by Round</caption>
          <thead>
            <tr>
              <th>Series</th>
              <th>Amount<span class="footnote">*</span></th>
              <th>Volume</th>
              <th>Avg. Investment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Angel & Seed</td>
              <td class="currency"> <%=  format_mil(Funding.multiple_funding_codes('seed', 'angel').ltm_fundings(365).sum('funding_amount') ) %></td>
              <td> <%=  Funding.multiple_funding_codes('seed', 'angel').ltm_fundings(365).count %></td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('seed').ltm_fundings(365).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>A</td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('a').ltm_fundings(365).sum('funding_amount') ) %></td>
              <td> <%=  Funding.for_funding_round('a').ltm_fundings(365).count %></td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('a').ltm_fundings(365).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>B</td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('b').ltm_fundings(365).sum('funding_amount') ) %></td>
              <td> <%=  Funding.for_funding_round('b').ltm_fundings(365).count %></td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('b').ltm_fundings(365).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>C</td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('c').ltm_fundings(365).sum('funding_amount') ) %></td>
              <td> <%=  Funding.for_funding_round('c').ltm_fundings(365).count %></td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('c').ltm_fundings(365).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>D</td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('d').ltm_fundings(365).sum('funding_amount') ) %></td>
              <td> <%=  Funding.for_funding_round('d').ltm_fundings(365).count %></td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('d').ltm_fundings(365).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>E</td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('e').ltm_fundings(365).sum('funding_amount') ) %></td>
              <td> <%=  Funding.for_funding_round('e').ltm_fundings(365).count %></td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('e').ltm_fundings(365).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>F</td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('f').ltm_fundings(365).sum('funding_amount') ) %></td>
              <td> <%=  Funding.for_funding_round('f').ltm_fundings(365).count %></td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('f').ltm_fundings(365).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>G</td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('g').ltm_fundings(365).sum('funding_amount') ) %></td>
              <td> <%=  Funding.for_funding_round('g').ltm_fundings(365).count %></td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('g').ltm_fundings(365).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>Venture</td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('venture round').ltm_fundings(365).sum('funding_amount') ) %></td>
              <td> <%=  Funding.for_funding_round('venture round').ltm_fundings(365).count %></td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('venture round').ltm_fundings(365).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>Private Equity</td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('private_equity').ltm_fundings(365).sum('funding_amount') ) %></td>
              <td> <%=  Funding.for_funding_round('private_equity').ltm_fundings(365).count %></td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('private_equity').ltm_fundings(365).average('funding_amount') ) %></td>
            </tr>
            <tr>
              <td>Debt</td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('debt_round').ltm_fundings(365).sum('funding_amount') ) %></td>
              <td> <%=  Funding.for_funding_round('debt_round').ltm_fundings(365).count %></td>
              <td class="currency"> <%=  format_mil(Funding.for_funding_round('debt_round').ltm_fundings(365).average('funding_amount') ) %></td>
            </tr>
            <tfoot>
              <tr colspan="4">
                <td colspan="4">
                  <em>*Millions of Dollars</em>
                  <em></br>**Venture Round is a catchall category in the Crunchbase data</em>
                </td>
              </tr>
            </tfoot>
          </tbody>
        </table>
      </div>

      <div class="grid_12">
        <br>
        <h3 class="center">LTM Total Funding by Month</h3>

        <%= render "funding_bar" %>
        <br>
        <p class="footnote"><em>*Millions of dollars</em></p>
      </div>
      <p>&nbsp;</p>
    </section>
