<script>
      $(document).ready(function() {
        $("h7").on("click", function() {
          $("#map-canvas").slideToggle();
        });
      });
</script>
<div class="label">
    <h3 class= "container">Funding by Location</h3>
</div>
<div class="container">
  <p>&nbsp;</p>
  <%= form_tag locations_path,class: 'container', :method => :get do %>
    <p>
      <%= image_tag 'mag_glass.svg', class: 'search-icon' %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search by City' %>
      <%= hidden_field_tag :radius, params[:radius], value: 100 %>
      <%= submit_tag "Search" %>
    </p>
  <% end %>
</div>
<section class="container group">
  <br>
  <h3 class="col_head"><%= params[:search].try(:titleize) %></h4>
  <br>
</section>
<section class="container group under">
  <div class="grid_12">
    <table class="table table-hover sortable">
      <caption>LTM Funding</caption>
      <thead>
        <tr>
          <th>Quarter</th>
          <th>Amount*</th>
          <th>Volume</th>
          <th>Avg. Investment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Q2 2013</td>
          <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year, 'q2').for_city(params[:search]).sum('funding_amount')) %></td>
          <td> <%= Funding.quarterly_fundings(Time.now().year, 'q2').for_city(params[:search]).count %></td>
          <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year, 'q2').for_city(params[:search]).average('funding_amount')) %></td>
        </tr>
        <tr>
          <td>Q1 2013</td>
          <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year, 'q1').for_city(params[:search]).sum('funding_amount')) %></td>
          <td> <%= Funding.quarterly_fundings(Time.now().year, 'q1').for_city(params[:search]).count %></td>
          <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year, 'q1').for_city(params[:search]).average('funding_amount')) %></td>
        </tr>
        <tr>
          <td>Q4 2012</td>
          <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year - 1, 'q4').for_city(params[:search]).sum('funding_amount')) %></td>
          <td> <%= Funding.quarterly_fundings(Time.now().year - 1, 'q4').count %></td>
          <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year - 1, 'q4').for_city(params[:search]).average('funding_amount')) %></td>
        </tr>
        <tr>
          <td>Q3 2012</td>
          <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year - 1, 'q3').for_city(params[:search]).sum('funding_amount')) %></td>
          <td> <%= Funding.quarterly_fundings(Time.now().year - 1, 'q3').for_city(params[:search]).count %></td>
          <td class="currency"> <%= format_mil(Funding.quarterly_fundings(Time.now().year - 1, 'q3').for_city(params[:search]).average('funding_amount')) %></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"><em>*Millions of dollars</em>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="grid_12">
    <br>
    <h3 class="center">LTM Funding by Industry</h3>
    <%= render :partial => "location_donut", locals: {fundings: Funding.ltm_fundings(365).for_city(params[:search])} %>
  </div>
</section>
<section class="container group under">
  <div class="grid_12">
    <table class="table table-hover sortable">
      <caption>LTM Funding by Round </caption>
      <thead>
        <tr>
          <th>Series</th>
          <th>Amount*</span></th>
          <th>Volume</th>
          <th>Avg. Investment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Seed</td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('seed').for_city(params[:search]).ltm_fundings(365).sum('funding_amount') ) %></td>
          <td> <%=  Funding.for_funding_round('seed').for_city(params[:search]).ltm_fundings(365).count %></td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('seed').for_city(params[:search]).ltm_fundings(365).average('funding_amount') ) %></td>
        </tr>
        <tr>
          <td>Angel</td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('angel').for_city(params[:search]).ltm_fundings(365).sum('funding_amount') ) %></td>
          <td> <%=  Funding.for_funding_round('angel').for_city(params[:search]).ltm_fundings(365).count %></td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('angel').for_city(params[:search]).ltm_fundings(365).average('funding_amount') ) %></td>
        </tr>
        <tr>
          <td>Series A</td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('a').for_city(params[:search]).ltm_fundings(365).sum('funding_amount') ) %></td>
          <td> <%=  Funding.for_funding_round('a').for_city(params[:search]).ltm_fundings(365).count %></td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('a').for_city(params[:search]).ltm_fundings(365).average('funding_amount') ) %></td>
        </tr>
        <tr>
          <td>Series B</td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('b').for_city(params[:search]).ltm_fundings(365).sum('funding_amount') ) %></td>
          <td> <%=  Funding.for_funding_round('b').for_city(params[:search]).ltm_fundings(365).count %></td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('b').for_city(params[:search]).ltm_fundings(365).average('funding_amount') ) %></td>
        </tr>
        <tr>
          <td>Series C</td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('c').for_city(params[:search]).ltm_fundings(365).sum('funding_amount') ) %></td>
          <td> <%=  Funding.for_funding_round('c').for_city(params[:search]).ltm_fundings(365).count %></td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('c').for_city(params[:search]).ltm_fundings(365).average('funding_amount') ) %></td>
        </tr>
        <tr>
          <td>Series D</td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('d').for_city(params[:search]).ltm_fundings(365).sum('funding_amount') ) %></td>
          <td> <%=  Funding.for_funding_round('d').for_city(params[:search]).ltm_fundings(365).count %></td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('d').for_city(params[:search]).ltm_fundings(365).average('funding_amount') ) %></td>
        </tr>
        <tr>
          <td>Series E</td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('e').for_city(params[:search]).ltm_fundings(365).sum('funding_amount') ) %></td>
          <td> <%=  Funding.for_funding_round('e').for_city(params[:search]).ltm_fundings(365).count %></td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('e').for_city(params[:search]).ltm_fundings(365).average('funding_amount') ) %></td>
        </tr>
        <tr>
          <td>Series F</td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('f').for_city(params[:search]).ltm_fundings(365).sum('funding_amount') ) %></td>
          <td> <%=  Funding.for_funding_round('f').for_city(params[:search]).ltm_fundings(365).count %></td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('f').for_city(params[:search]).ltm_fundings(365).average('funding_amount') ) %></td>
        </tr>
        <tr>
          <td>Series G</td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('g').for_city(params[:search]).ltm_fundings(365).sum('funding_amount') ) %></td>
          <td> <%=  Funding.for_funding_round('g').for_city(params[:search]).ltm_fundings(365).count %></td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('g').for_city(params[:search]).ltm_fundings(365).average('funding_amount') ) %></td>
        </tr>
        <tr>
          <td>Venture Round**</td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('venture_round').for_city(params[:search]).ltm_fundings(365).sum('funding_amount') ) %></td>
          <td> <%=  Funding.for_funding_round('venture_round').for_city(params[:search]).ltm_fundings(365).count %></td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('venture_round').for_city(params[:search]).ltm_fundings(365).average('funding_amount') ) %></td>
        </tr>
        <tr>
          <td>Private Equity</td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('private_equity').for_city(params[:search]).ltm_fundings(365).sum('funding_amount') ) %></td>
          <td> <%=  Funding.for_funding_round('private_equity').for_city(params[:search]).ltm_fundings(365).count %></td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('private_equity').for_city(params[:search]).ltm_fundings(365).average('funding_amount') ) %></td>
        </tr>
        <tr>
          <td>Debt Round</td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('debt_round').for_city(params[:search]).ltm_fundings(365).sum('funding_amount') ) %></td>
          <td> <%=  Funding.for_funding_round('debt_round').for_city(params[:search]).ltm_fundings(365).count %></td>
          <td class="currency"> <%=  format_mil(Funding.for_funding_round('debt_round').for_city(params[:search]).ltm_fundings(365).average('funding_amount') ) %></td>
        </tr>
      </tbody>
      <tfoot>
        <tr colspan="4">
          <td colspan="4">
            <em>*Millions of Dollars</em>
            <em></br>**Venture Round is a catchall category in the Crunchbase data</em>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="grid_12">
    <br>
    <h3 class="center">LTM Funding by Month</h3>
    <%= render :partial => "location_bar", locals: {fundings: Funding.for_city(params[:search])} %>
    <p class="footnote"><em>*Millions of dollars</em></p>
  </div>
</section>





