<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
  <title>CrunchbaseStatistics</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
   <script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
  <body style="height:100%">

        <header>
          <div class="container group">
            <a href="<%= home_url %>">
              <h1 class="grid_8">crunch<span class="bling">stats</span><span class="footnote tag">alpha</span></h1>
            </a>
            <nav class="home_nav">
              <ul>
               <li><%= link_to "Funding Overview", fundings_url %></li>
               <li><%= link_to "Industry Funding", "/industries" %></li>
               <li><%= link_to "Geographic Funding", "/locations" %></li>
               <li><%= link_to "Angel Investing", "/individuals" %></li>
               <li><%= link_to "About", "/individuals" %></li>
              </ul>
            </nav>
          </div>
        </header>

    <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= notice %>
    </div><br><br><br>
    <% end %>

  <%= yield %>


    <footer>
      <div class="container group">
        <div class="grid_4">
          <h5>Site Map</h5>
          <ul>
           <li><%= link_to "Home", root_url %></li>
           <li><%= link_to "Industries", "/industries" %></li>
           <li><%= link_to "Companies", companies_url %></li>
           <li><%= link_to "Financials", financials_url %></li>
           <li><%= link_to "Individuals", "/individuals" %></li>
           <li><%= link_to "Fundings", fundings_url %></li>
           <li><%= link_to "Locations", "/locations" %></li>
          </ul>
        </div>
        <div class="grid_4">
          <h5>About</h5>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><%= link_to "Contact", contact_url %></li>
          </ul>
        </div>
      </div>
      <div class="sub_footer">
        <p>&copy; Copyright Cash Money Developers and Design Group 2013. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
