<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
  <title>CrunchbaseStatistics</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
  <meta charset=utf-8 />
  </head>
  <body style="height:100%">

        <header>
          <div class="container group">
            <h1 class="grid_7">Simple <span class="bling">Fund</span></h1>
            <nav class="home_nav">
              <ul>
                <li><%= link_to "Home", "/" %></li>
                <li><%= link_to "Fundings", fundings_url %></li>
                <li><%= link_to "Industries", "/industries" %></li>
                <li><%= link_to "Angels", "/individuals" %></li>
                <li><%= link_to "Investments", "/investments" %></li>
                <li><%= link_to "Locations", "/locations" %></li>
                <li><%= link_to "Contact", contact_url %></li>
              </ul>
            </nav>
          </div>
        </header>

    <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= notice %>
    </div><br><br><br>
    <% end %>


  <%= yield %>


    <footer>
      <div class="container group">
        <div class="grid_4">
          <h5>Site Map</h5>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="investments.html">Investments</a></li>
            <li><a href="#">Investors</a></li>
            <li><a href="#">Companies</a></li>
            <li><a href="#">Industries</a></li>
          </ul>
        </div>
        <div class="grid_4">
          <h5>About</h5>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="grid_16">
          <p>&nbsp;</p>
          <br><br><br><br>
        </div>
      </div>
      <div class="sub_footer">
        <p>&copy; Copyright Cash Money Developers and Design Group 2013. All rights reserved.</p>
      </div>

    </footer>

  </body>
</html>
